<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <search-sort-io  input-search-term=""
                     on-search-term-change="onNewSearchTerm(newSearchTerm)"
                     input-sort-order="age"
                     on-sort-order-change="onNewSortOrder(newSortOrder)">
      </search-sort-io>

    </div>
    <div class="col-md-10">
      <!--Body content -->
      <phone-list input-unordered-list="phones"
                input-query="query"
                input-sort-order="orderProp">

      </phone-list>
    </div>
  </div>
</div>
